.help-page {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 0.5em auto;
    /*border: 1px solid black;*/
    box-shadow: rgba(40, 40, 40, 0.3) 0px 0px 8px;
    z-index: 1000;
    transition: ease-in-out 0.2s;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 30em;
}

.help-page i {
    font-size: 1.4em;
    align-self: end;
    cursor: pointer;
}

.help-page h3 {
    font-size: 1.2em;
}

.help-page .example {
    text-decoration: underline;
    cursor: pointer;
}

.inactive {
    display: none;
}

.solid {
    border-top: 3px solid rgba(40, 40, 40, 1);
}

.title-bar {
    display: flex;
}

.title-bar-end {
    margin-left: auto;
    transition: ease-in-out 0.2s;
    display: flex;
    align-items: center;
}

    .title-bar-end p {
        text-decoration: underline;
        display: block;
        margin: 0 0.5em;
    }

    .title-bar-end p:hover {
        text-decoration: none;
        transform:rotateX('30');
        cursor: pointer;
    }

    .title-bar-end a {
        font-size: 1.5em;
        margin: 0 0.6em;
        color: black;
        transition: ease-in-out 0.2s;
    }

    .title-bar-end a:hover {
        opacity: 0.5;
    }



.box {
    border: 2px solid black;
    margin: 5px;
    /*    padding: 0.6em;*/
    font-family: Consolas;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 5px;
}

.box-content {
    padding: 0.6em;
    width: 100%;
    height: 100%;
}

.wrapper-div {
    min-height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.machine-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    max-width: 1300px;
    margin: auto;

}

/*@media screen and (min-width: 1400px) {

    .machine-container {
        max-width: 1400px
    }
}*/

.machine-container h2 {
    font-size: 1.2em;
}

@font-face {
    font-family: 'digital';
    src: url('fonts/digital-7.regular.ttf');
}

.window-title {
    font-family: 'digital', sans-serif;
}

.window-title-container {
    display: flex;
    align-content: center;
    background: rgba(40, 40, 40, 1);
    color: white;
    padding: 0.6em;
}

    .window-title-container p {
        margin-bottom: 0;
    }

.hr-lines {
    position: relative;
    text-align: center;
    flex: 1 1 0px;
    margin: 0px 0.5em;
}

    .hr-lines:before {
        content: " ";
        height: 1px;
        width: 100%;
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
    }

.input-output-windows {
    display: flex;
    flex: 2 0 0px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {

    .input-output-windows {
        flex-direction: row;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.program-input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.command-input-line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5em;
    font-family: Roboto, sans-serif;
}

.command-input-form {
    flex: 1 1 0px;
}

.run-command-button {
    padding: 0.2em 0.8em;
    border: 2px solid black;
}

.run-command-button:hover {
    opacity: 60%;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.output-container {
    flex: 0.7 1 0px;
    display: flex;
    flex-direction: column;
}

.outputTextArea {
    overflow: auto;
    font-size: 0.85em;
    font-family: 'Source Code Pro', monospace;
}

.controls-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/*.controls::-webkit-scrollbar {
    display: none;
}*/

/* Hide scrollbar for IE, Edge and Firefox */
/*.controls {
    overflow-y: scroll;*/ /* Add the ability to scroll */
    /*-ms-overflow-style: none;*/ /* IE and Edge */
    /*scrollbar-width: none;*/ /* Firefox */
/*}*/

.controls {
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    overflow: auto;
    width: 90%;
}

.button {
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 6px 1.5em;
    /*flex: 1 1 0px;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.8) 3px 3px;
    transition: ease-in-out 0.2s;
    font-size: 0.85em;
}

    .button:hover {
        /*opacity: 60%;*/
        cursor: pointer;
        box-shadow: none;
        transition: ease-in-out 0.1s;
        transform: translate(3px, 3px);
    }

    .button:active {
        background: grey;
        box-shadow: none;
        transition: ease-in-out 0.1s;
        transform: translate(3px, 3px);
    }

@media screen and (min-width: 768px) {

    .controls {
        justify-content: center;
    }

    .button {
        font-size: 1em;
        padding: 8px 2em;
    }
}